
// $theme-colors: (
//   "primary": #FF69B4
//   );
  
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');

$cormorant-garamond: 'Cormorant Garamond', serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;

h1 {
  font-family: $open-sans-condensed;
  font-weight: 600;
  color: #D21533;
}

h2 {
  font-family: $open-sans-condensed;
  font-weight: 600;
  color: #222222;
}


.container {
  object-fit: cover;
  object-position: center;
  max-width: "100%";
  overflow:hide;
  padding: 0;
  margin: auto;
  position: relative;

  .container__image {
    height: 400px;
  }

  .container__image2 {
    height: 160px;
  }
  .container__title {
    font-family: $open-sans-condensed;
    font-weight: 600;
    font-size: 25px;
  }

  .container__line{
    font-family: $open-sans-condensed;
    font-weight: 900;
    color: #D21533;
  }
  .container__paragraph {
    font-family: $cormorant-garamond;
  }
  
  .container__icon {
    left: 90%;
    bottom: 80%;
    font-size: 35px;
  }
  
  .container__icon--small {
    left: 85%;
    bottom: 83%;
    font-size: 35px;
  }

  .container__icon--large {
    font-size: 30px;
  }

  .container__icon--red {
    color: #D21533;;
  }

  .container__icon--gray {
    color:#222222;
  }

  .container__subtitle {
    font-family: $open-sans-condensed;
    color: #D21533;
    font-weight: 900;
  }

  .container__title--white {
    color:white;
  }

  .container__paragraph--desktop--hidden {
    display: none;
  }
}

.carousel-caption {
  left: 7%;
  bottom: 25%;
}




body {
  // height: 20px;    
  // background-image: linear-gradient(to top, rgba(255, 255, 255, 0.464), rgb(214, 209, 209));
  // background-repeat: no-repeat;
  background: gray;
}






// #content-desktop {display: block;}
// #content-mobile {display: none;}


@media screen and (max-width: 768px) {

  // #content-desktop {display: none;}
  // #content-mobile {display: block;}

  h1 {
    font-size: 18px;
    font-weight: 600;
  }


  .container {
    padding: 13px;

    .container__title {
      font-size: 30px;
      margin-left: 10px;
    }

    .container__image {
      height: 300px;

    }
    .container__image2 {
      width: 33.3333%;
      height: 90px;
      display: block;
      float: left;
    }

    .container__icon--large {
      font-size: 18px;
    }

    .container__subtitle {
      font-size: 12px;
    }

    .container__paragraph--hidden {
      display: none;
    }

    .container__icon {
      left: 80%;
      bottom: 80%;
    }

    .container__icon--small {
      position: absolute;
      top: -115%;
      left: -230px;
      font-size: 24px;
    }
    
    .container__paragraph--desktop--hidden {
      display: block;
    }
    
    .container__heading--margin--top {
      margin-top: 10px;
    }

    .container__headding--margin--bottom {
      padding-top: 20px;    
    }
  }
}